.subtitle {
  padding: 0.2em;
  text-align: center;
  font-weight: normal;
  font-size: 0.9em;
}

.subtitle a {
	color: white;
	text-decoration: none;
}

div[data-role="content"] {
  padding-bottom: 2.5em;
}

div[data-role="footer"] {
  min-height: 2.5em;
}

div[data-role="content"] > p:first-child {
	margin-top: 0 !important;
}

div[data-role="fieldcontain"] {
  padding: 0 !important;
}

#debug-banner {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 0.25em;
  height: 100%;
  background: rgba(200, 0, 0, 0.2);
  z-index: 10;
  pointer-events: none;
  padding: 3em 0.5em 0.5em 0.5em;
}

#debug-banner .content {
  /* Stupid adjustments to align the rotated text... */
  position: absolute;
  left: -242px;
  width: 500px;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

#footer .content {
  float: right;
  margin: 1em 0.5em 1em 0;
  font-size: 0.75em;
  color: #777777;
}

#footer .content a {
  text-decoration: none;
}

#main-grid a {
	text-decoration: none !important;
	color: inherit;
}

#main-grid .ui-block-a,
#main-grid .ui-block-b,
#main-grid .ui-block-c {
	margin-top: 80px;
	margin-bottom: 20px;
	text-align: center;
}

#main-grid a {
	padding-top: 60px;
}

#main-grid .list {
	background: url('../images/delivery.png');
	background-repeat: no-repeat;
	background-position: center top;
}

#main-grid .view {
	background: url('../images/database.png');
	background-repeat: no-repeat;
	background-position: center top;
}

#main-grid .new {
	background: url('../images/plus.png');
	background-repeat: no-repeat;
	background-position: center top;
}

#main-grid .settings {
	background: url('../images/preferences.png');
	background-repeat: no-repeat;
	background-position: center top;
}

ul.changes {
  padding-bottom: 1em;
}

.timeago {
  color: #2389ce;
}

.required > label:after {
  color: #aa0000;
  content: "*";
}

.invalid {
  color: #aa0000;
}

p.disabled, label.disabled {
  color: #aaaaaa;
}

.li-centered {
  padding-left: 4em;
  padding-right: 4em;
  text-align: center;
}

.ajax-loading {
  margin-left: 4em;
  margin-right: 4em;
  text-align: center;
  padding: 1em;
  background-color: rgba(0, 0, 0, 0.1);
  -moz-border-radius: 9px;
	-webkit-border-radius: 9px;
	border-radius: 9px;
}

.ajax-loading .loading-img {
  margin: 0 auto;
  background-image: url('../images/jqm-ajax-loader.png');
	width: 35px;
	height: 35px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	background-size: 35px 35px;
	background-color: rgba(0, 0, 0, 0);
}

a.list-chk-disabled {
	text-decoration: none;
}

.list-chk-incompatible {
	font-weight: normal !important;
	font-size: 0.8em;
	float: right;
	padding-top: 2px;
	color: #711414;
}

.warning-explanation {
	margin: 0 auto;
}

.warning-explanation .ui-icon {
	width: 18px;
	height: 18px;
	display: inline-block;
	float: left;
	margin-top: 2px;
}

.warning-explanation p {
	margin-left: 25px;
}

/**
 * Spinning preloader for text boxes. We need to use `!important` because jQuery
 * Mobile is dynamically adding all kinds of styles which will override this.
 */
.ajax-textbox {
  background-image: url('../images/ajax-loader-small.gif') !important;
  background-repeat: no-repeat !important;
  background-position: center right !important;
  /*TODO: make right-padding actually work with jQuery Mobile */
}

.header {

}

.header > .back,
.header > .settings {
  /* display: none doesn't work here, but it does work when it's in a style
     attribute. Wow.
  */
  /*display: none !important;*/
}

.ui-collapsible-content {
  background: white;
  margin: -8px !important;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
}

/* Red button -- https://gist.github.com/909284 */
.ui-btn-up-f, .ui-btn-hover-f, .ui-btn-down-f {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.ui-btn-up-f {
  border: 1px solid #711414;
  background: #ab2525;
  text-shadow: 0 -1px 1px #711414;
  background-image: -moz-linear-gradient(top, #c44f4f, #ab2525);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #c45e5e), color-stop(1, #9e3939));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#c44f4f', EndColorStr='#ab2525')";
}

.ui-btn-hover-f {
  border: 1px solid #6e0000;
  background: #b54a4a;
  text-shadow: 0 -1px 1px #690101;
  background-image: -moz-linear-gradient(top, #d47272, #b54a4a);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #d47272), color-stop(1, #b54a4a));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#d47272', EndColorStr='#b54a4a')";
}

.ui-btn-down-f {
  border: 1px solid #782323;
  background: #c44f4f;
  text-shadow: 0 -1px 1px #782323;
  background-image: -moz-linear-gradient(top, #9e3939, #c44f4f);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #9e3939), color-stop(1, #c44f4f));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#9e3939', EndColorStr='#c44f4f')";
}