[submodule "js/jquery.livejquery"]
	path = js/jquery.livejquery
	url = git://github.com/brandonaaron/livequery.git
[submodule "js/jquery.timeago"]
	path = js/jquery.timeago
	url = git://github.com/zourtney/jquery-timeago.git
[submodule "js/jquery.livequery"]
	path = js/jquery.livequery
	url = https://github.com/brandonaaron/livequery.git
[submodule "js/jquery.store"]
	path = js/jquery.store
	url = git://github.com/whitmer/store.js.git
[submodule "js/jquery"]
	path = js/jquery
	url = git://github.com/jquery/jquery.git
[submodule "js/jquery-mobile"]
	path = js/jquery-mobile
	url = git://github.com/jquery/jquery-mobile.git
[submodule "js/jquery-tmpl"]
	path = js/jquery-tmpl
	url = git://github.com/jquery/jquery-tmpl.git
[submodule "livequery"]
	path = livequery
	url = https://github.com/brandonaaron/livequery.git
