* {
  padding: 0;
  margin: 0;
}

body {
  padding: 0.5em;
  background: #aaaaaa;
  font-family: Calibri, 'Trebuchet MS', Trebuchet, 'Lucida Sans Unicode', helvetica, 'Lucida Grande', 'Lucida Sans', Arial, 'DejaVu Sans', sans-serif;
}

header#top {
  background: url('images/pump.png') no-repeat;
}

h1 {
  padding: 0.25em;
}

h2 {
  padding: 0.1em;
  padding-left: 1em;
  background: #cccccc;
}

ul {
  padding-left: 2em;
}

article {
  background: white;
  padding-bottom: 2em;
}

p {
  padding: 0.5em;
}

#top h1 a {
  text-decoration: none;
  color: #333333;
  display: block;
}

.formrow {
  border-bottom: 1px dashed #cccccc;
  margin: 1.5em;
}

.label {
  float: left;
  width: 100px;
  font-weight: bold;
  color: #777777;
  padding: 1em;
}

.required label {
  color: #990000;
}

.required .input:before {
  color: #990000;
  content: "*";
}

.invalid {
  background: #ffbbbb;
}

.errornotice {
  background: #ffbbbb;
  margin: 1em 4em 1em 4em;
  padding: 2em;
  border: 1px dashed #770000;
}

input, textarea {
  font-family: Arial;
}

input:focus:invalid {
  border: 1px solid red;
}

input[type="datetime-local"] {
  background: none;
  border: 2px dotted #cccccc;
  width: 12em;
}

input[type="number"].price {
  width: 5.5em;
}

.inputlabel {
  font-size: 0.8em;
}

.inputlabel input {
  font-size: 1em;
}

.input {
  float: left;
  margin-top: 0.8em;
  display: block;
}

.desc {
  clear: both;
  padding-left: 4em;
  padding-right: 2em;
  padding-bottom: 1.5em;
  font-size: 0.8em;
  color: #777777;
}

.datetimeformat-label {
  font-size: 0.6em;
  color: #777777;
  padding-left: 3em;
}

.currencyinput:before {
  color: #007700;
  content: "$";
}

.distanceinput:after {
  content: "mi";
}

.liquidinput:after {
  content: "gal";
}

input[type="number"].mileage {
  width: 8em;
}

.location {
  width: 20em;
}

.pricepergallon {
  
}

.grade {
  
}

.gallons {
  width: 6em;
}

.pumpprice {
  
}

.notes {
  width: 100%;
}

.submit {
  background: #cccccc;
  padding: 1em;
  text-align: right;
}

.link-button {
  color: blue;
  text-decoration: underline;
  font-size: 0.8em;
  cursor: pointer;
}

.docname {
}

.message {
  background: #fffdcc;
  margin: 1em 4em 1em 4em;
  padding: 2em;
  border: 1px dashed #ffdf01;
}

fieldset.stats {
  margin: 1.5em;
  background: white;
  border: 1px solid #777777;
}

fieldset.stats legend {
  font-size: 1.33em;
  margin-left: 0.25em;
  margin-right: 0.25em;
  padding: 0.25em;
  border: 1px solid #777777;
  background: #eeeeee;
}

fieldset.stats legend .datetime {
  color: #007700;
}

.statdesc {
  padding: 1em;
}

.statdesc .location {
  border-bottom: 1px dotted #777777;
}

.statdesc .datetime {
  border-bottom: 1px dotted #007700;
}

div.statrow {
  margin: 1em;
  border-bottom: 1px dashed #777777; 
}

.statrow div.arrow {
  position: relative;
}

.statrow span.arrow {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 4.5em;
  opacity: 0.1; /* for Firefox */
  filter:alpha(opacity=0.1); /* for IE */
  
  /* http://css-tricks.com/examples/TextStroke/ */
  text-shadow: 2px 2px 0 black,
    -1px -1px 0 black,  
     1px -1px 0 black,
    -1px  1px 0 black,
     1px  1px 0 black;
}

.statrow .content {
  margin-left: 2em;
}

.statrow .value {
  font-size: 2.5em;
  /* http://css-tricks.com/examples/TextStroke/ */
  text-shadow: 2px 2px 0 black,
    -1px -1px 0 black,  
     1px -1px 0 black,
    -1px  1px 0 black,
     1px  1px 0 black;
}

.statrow .value:after {
  padding-left: 0em;
  font-size: 0.75em;
  color: #eeeeee;
  
  /* http://css-tricks.com/examples/TextStroke/ */
  text-shadow: 2px 2px 0 black,
    -1px -1px 0 black,
     1px -1px 0 black,
    -1px  1px 0 black,
     1px  1px 0 black;
}

.statrow.cost .value:after {
  content: "to fill up";
}

.statrow.costperday .value:after {
  content: "per day";
}

.statrow .desc {
  padding: 0;
}

.statrow .desc .better {
  color: #007700;
}

.statrow .desc .worse {
  color: #770000;
}

.statrow .desc .mpg, 
.statrow .desc .distance,
.statrow .desc .cost,
.statrow .desc .percent {
  font-size: 1em;
  font-weight: bold;
  text-shadow: none;
  font-family: Consolas, Lucidatypewriter, monospace, "Courier New";
}

.statrow .mpg:after {
  content: "mpg";
}

.statrow .distance:after {
  content: "mi";
}

.statrow .cost:before {
  content: "$";
}

.statrow .percent:after {
  content: "%";
}
