---

---

//
// Headings
//
h1 {
  font-size: 48px;
  font-weight: 100;
}

h2 {
  font-weight: 200;
}


//
// Links
//
a {
  font-weight: 600;
}

a, .btn.btn-link {
  color: #555;
  &:hover,
  &:active,
  &:focus {
    color: black;
  }
}

.text-muted a,
.text-muted .btn.btn-link {
  color: #777;
}

body.marketing {
  a, .btn.btn-link {
    color: #ccc;
    &:hover,
    &:active,
    &:focus {
      color: white;
    }
  }

  .text-muted a,
  .text-muted .btn.btn-link {
    color: #aaa
  }
}


//
// Imports
//
@import "colors";
@import "header";
@import "footer";
@import "marketing";

